name: Stress Tests on IC

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  stress-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Run IC stress tests
        run: |
          cd tests && ./run_test_ic_stress.sh
